{% extends 'base.html.twig' %}

{% block title %}{{ front.title|striptags }}{% endblock %}

{% block body %}

    <h2{% if front.language != app.request.locale %} lang="{{ front.language }}" dir="{% trans into front.language %}direction{% endtrans %}"{% endif %}>{{ front.title }}</h2>

    {% if front.doi %}
        <p>doi:{{ front.doi }}</p>
    {% endif %}

    {% if front.abstract %}

        <section id="{{ front.abstract.id }}">

            <h3>{% trans %}app.abstract{% endtrans %}</h3>

            {% if front.language != app.request.locale %}
            <div lang="{{ front.language }}" dir="{% trans into front.language %}direction{% endtrans %}">{% endif %}

                {{ front.abstract.text|raw }}

                {% if front.abstract.doi %}
                    <p>doi:{{ front.abstract.doi }}</p>
                {% endif %}

                {% if front.language != app.request.locale %}</div>{% endif %}

        </section>
    {% endif %}

    {% if front.digest %}

        <h3>{% trans %}app.digest{% endtrans %}</h3>

        {% if front.language != app.request.locale %}
            <div lang="{{ front.language }}" dir="{% trans into front.language %}direction{% endtrans %}">{% endif %}

        {{ front.digest.text|raw }}

        {% if front.language != app.request.locale %}</div>{% endif %}

        {% if front.digest.doi %}
            <p>doi:{{ front.digest.doi }}</p>
        {% endif %}

    {% endif %}

    {% if body %}
        {% if body.language != app.request.locale %}
            <p><i>{{ ('app.article.in_locale.' ~ body.language)|trans }}</i></p>
            <div lang="{{ body.language }}" dir="{% trans into body.language %}direction{% endtrans %}">
        {% endif %}

        {{ body.text|raw }}

        {% if body.language != app.request.locale %}
            </div>
        {% endif %}

    {% endif %}

{% endblock %}

{% block end %}

    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=MML_CHTML"
            integrity="sha384-Ra6zh6uYMmH5ydwCqqMoykyf1T/+ZcnOQfFPhDrp2kI4OIxadnhsvvA2vv9A7xYv"
            crossorigin="anonymous"></script>

{% endblock %}
